<!doctype html>
<html lang="{{- request.locale.iso_code -}}">
  <head>
    {%- render 'layout-meta' -%}
    {%- render 'layout-styles' -%}
    {%- render 'layout-fonts' -%}
    {{ content_for_header }}
    {%- render 'layout-header-scripts' -%}
  </head>

  <body
    class="min-h-screen layout-password"
    template="{{ template | handle }}"
    x-data>

    {%- sections 'layout-header-group' -%}

    <main
      id="main"
      class="main"
      role="main"
      x-data>
      {{ content_for_layout }}
    </main>

    {%- sections 'layout-footer-group' -%}

    {%- render 'layout-footer-scripts' -%}
  </body>
</html>